
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Eclipse m2e generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*



#indi added to git ignore
node_modules/.package-lock.json
node_modules/jquery/AUTHORS.txt
node_modules/jquery/bower.json
node_modules/jquery/LICENSE.txt
node_modules/jquery/package.json
node_modules/jquery/README.md
node_modules/jquery/dist/jquery.js
node_modules/jquery/dist/jquery.min.js
node_modules/jquery/dist/jquery.min.map
node_modules/jquery/dist/jquery.slim.js
node_modules/jquery/dist/jquery.slim.min.js
node_modules/jquery/dist/jquery.slim.min.map
node_modules/jquery/src/ajax.js
node_modules/jquery/src/attributes.js
node_modules/jquery/src/callbacks.js
node_modules/jquery/src/core.js
node_modules/jquery/src/css.js
node_modules/jquery/src/data.js
node_modules/jquery/src/deferred.js
node_modules/jquery/src/deprecated.js
node_modules/jquery/src/dimensions.js
node_modules/jquery/src/effects.js
node_modules/jquery/src/event.js
node_modules/jquery/src/jquery.js
node_modules/jquery/src/manipulation.js
node_modules/jquery/src/offset.js
node_modules/jquery/src/queue.js
node_modules/jquery/src/selector-native.js
node_modules/jquery/src/selector.js
node_modules/jquery/src/serialize.js
node_modules/jquery/src/traversing.js
node_modules/jquery/src/wrap.js
node_modules/jquery/src/ajax/jsonp.js
node_modules/jquery/src/ajax/load.js
node_modules/jquery/src/ajax/script.js
node_modules/jquery/src/ajax/xhr.js
node_modules/jquery/src/ajax/var/location.js
node_modules/jquery/src/ajax/var/nonce.js
node_modules/jquery/src/ajax/var/rquery.js
node_modules/jquery/src/attributes/attr.js
node_modules/jquery/src/attributes/classes.js
node_modules/jquery/src/attributes/prop.js
node_modules/jquery/src/attributes/support.js
node_modules/jquery/src/attributes/val.js
node_modules/jquery/src/core/access.js
node_modules/jquery/src/core/camelCase.js
node_modules/jquery/src/core/DOMEval.js
node_modules/jquery/src/core/init.js
node_modules/jquery/src/core/isAttached.js
node_modules/jquery/src/core/nodeName.js
node_modules/jquery/src/core/parseHTML.js
node_modules/jquery/src/core/parseXML.js
node_modules/jquery/src/core/ready-no-deferred.js
node_modules/jquery/src/core/ready.js
node_modules/jquery/src/core/readyException.js
node_modules/jquery/src/core/stripAndCollapse.js
node_modules/jquery/src/core/support.js
node_modules/jquery/src/core/toType.js
node_modules/jquery/src/core/var/rhtml.js
node_modules/jquery/src/core/var/rsingleTag.js
node_modules/jquery/src/css/addGetHookIf.js
node_modules/jquery/src/css/adjustCSS.js
node_modules/jquery/src/css/curCSS.js
node_modules/jquery/src/css/finalPropName.js
node_modules/jquery/src/css/hiddenVisibleSelectors.js
node_modules/jquery/src/css/showHide.js
node_modules/jquery/src/css/support.js
node_modules/jquery/src/css/var/cssExpand.js
node_modules/jquery/src/css/var/getStyles.js
node_modules/jquery/src/css/var/isHiddenWithinTree.js
node_modules/jquery/src/css/var/rboxStyle.js
node_modules/jquery/src/css/var/rcustomProp.js
node_modules/jquery/src/css/var/rnumnonpx.js
node_modules/jquery/src/css/var/swap.js
node_modules/jquery/src/data/Data.js
node_modules/jquery/src/data/var/acceptData.js
node_modules/jquery/src/data/var/dataPriv.js
node_modules/jquery/src/data/var/dataUser.js
node_modules/jquery/src/deferred/exceptionHook.js
node_modules/jquery/src/deprecated/ajax-event-alias.js
node_modules/jquery/src/deprecated/event.js
node_modules/jquery/src/effects/animatedSelector.js
node_modules/jquery/src/effects/Tween.js
node_modules/jquery/src/event/trigger.js
node_modules/jquery/src/exports/amd.js
node_modules/jquery/src/exports/global.js
node_modules/jquery/src/manipulation/_evalUrl.js
node_modules/jquery/src/manipulation/buildFragment.js
node_modules/jquery/src/manipulation/getAll.js
node_modules/jquery/src/manipulation/setGlobalEval.js
node_modules/jquery/src/manipulation/support.js
node_modules/jquery/src/manipulation/wrapMap.js
node_modules/jquery/src/manipulation/var/rscriptType.js
node_modules/jquery/src/manipulation/var/rtagName.js
node_modules/jquery/src/queue/delay.js
node_modules/jquery/src/selector/contains.js
node_modules/jquery/src/selector/escapeSelector.js
node_modules/jquery/src/traversing/findFilter.js
node_modules/jquery/src/traversing/var/dir.js
node_modules/jquery/src/traversing/var/rneedsContext.js
node_modules/jquery/src/traversing/var/siblings.js
node_modules/jquery/src/var/arr.js
node_modules/jquery/src/var/class2type.js
node_modules/jquery/src/var/document.js
node_modules/jquery/src/var/documentElement.js
node_modules/jquery/src/var/flat.js
node_modules/jquery/src/var/fnToString.js
node_modules/jquery/src/var/getProto.js
node_modules/jquery/src/var/hasOwn.js
node_modules/jquery/src/var/indexOf.js
node_modules/jquery/src/var/isFunction.js
node_modules/jquery/src/var/isWindow.js
node_modules/jquery/src/var/ObjectFunctionString.js
node_modules/jquery/src/var/pnum.js
node_modules/jquery/src/var/pop.js
node_modules/jquery/src/var/push.js
node_modules/jquery/src/var/rcheckableType.js
node_modules/jquery/src/var/rcssNum.js
node_modules/jquery/src/var/rnothtmlwhite.js
node_modules/jquery/src/var/rtrimCSS.js
node_modules/jquery/src/var/slice.js
node_modules/jquery/src/var/sort.js
node_modules/jquery/src/var/splice.js
node_modules/jquery/src/var/support.js
node_modules/jquery/src/var/toString.js
node_modules/jquery/src/var/whitespace.js
FullStack/restfullwebservices/restfullwebservices/src/main/resources/application.properties
